@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --white: #fff;
  --cream: #faebd7;
}

* {
  box-sizing: border-box;
}

*:not(.nav-circle) {
  z-index: 100;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background-color: var(--cream);
  margin: 0;
  z-index: 100;
}

a {
  text-decoration: none;
  color: black;
}

#canvas {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  transform-origin: top left;
  transition: 0.5s transform;
  background-color: var(--white);
  height: 105vh;
  z-index: 100;
}

.show-nav {
  transform: rotate(-15deg);
}

.container-nav {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 1000;
}

.nav-circle {
  background-color: violet;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1000 !important;
}

.nav-item:nth-child(1) {
  position: absolute;
  bottom: 400px;
  left: 60px;
  font-size: 24px;
}

.nav-item:nth-child(2) {
  position: absolute;
  bottom: 300px;
  left: 75px;
}

.nav-item:nth-child(3) {
  position: absolute;
  bottom: 200px;
  left: 100px;
}

.nav-item:nth-child(4) {
  position: absolute;
  bottom: 100px;
  left: 115px;
}

.text-stroll {
  display: none;
  transform: translateY(200px);
  transition: transform 0.5s;
}

.nav-item.text-stroll {
  transform: translateY(0);
  position: absolute;
  bottom: 100px;
  right: 300px;
  transition: transform 0.5s;
}

.nav {
  transition: 0.5s all;
  position: absolute;
  left: -100px;
}

.content {
  padding-top: 3rem;
  text-align: justify;
  width: 1000px;
}

.content h1,
.content h2 {
  text-align: center;
}

.content h1 {
  margin: 3rem;
}

.content h2 {
  margin-top: 5rem;
}

.content img {
  display: block;
  transform: translateX(75.5%);
}

@media screen and (max-width: 1000px) {
  .content img {
    width: 150px;
  }

  .content h1 {
    margin: 4rem;
    font-size: 16px;
  }

  .content h2 {
    margin-top: 5rem;
    font-size: 14px;
  }

  .nav {
    font-size: 14px;
  }

  .nav-item:nth-child(1) {
    bottom: 300px;
    left: 25px;
  }

  .nav-item:nth-child(2) {
    bottom: 210px;
    left: 45px;
  }

  .nav-item:nth-child(3) {
    bottom: 120px;
    left: 70px;
  }

  .nav-item:nth-child(4) {
    bottom: 30px;
    left: 80px;
  }
  .text-stroll {
    display: none;
  }
}
