@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --white: #fff;
  --cream: #faebd7;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
  background-color: antiquewhite;
  margin: 0;
  height: 100vh;
}

a:not(.nav a) {
  -webkit-text-fill-color: white;
  text-decoration: none;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: black;
}

#canvas {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

.container {
  background-color: var(--white);
  margin: 0;
  height: 100vh;
  min-width: 90vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform-origin: top left;
  transition: all 0.5s;
  z-index: 1;
}

.panel {
  position: relative;
  margin: 10px;
  width: 80px;
  border-radius: 50px;
  height: 80vh;
  cursor: pointer;
  transition: all 1s;
  border: 1px solid gray;
}

.panel h3 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
  font-size: 32px;
}

.active {
  width: 800px;
  transition: all 1s;
}

.active h3 {
  opacity: 1;
  transition: all 1s;
}

.show-nav {
  transform: rotate(-15deg);
}

.container-nav {
  position: fixed;
  top: -100px;
  left: -100px;
  z-index: 1000;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav-circle {
  background-color: violet;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1000 !important;
  animation: scaling infinite 1.5s ease-in-out;
}

@keyframes scaling {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.nav-item:nth-child(1) {
  position: absolute;
  bottom: 400px;
  left: 60px;
  font-size: 24px;
}

.nav-item:nth-child(2) {
  position: absolute;
  bottom: 300px;
  left: 75px;
}

.nav-item:nth-child(3) {
  position: absolute;
  bottom: 200px;
  left: 100px;
}

.nav-item:nth-child(4) {
  position: absolute;
  bottom: 100px;
  left: 105px;
}

.nav {
  transition: 0.5s all;
  position: absolute;
  left: -100px;
}

.panel:nth-child(1) {
  background-image: url(./Assets/sneakerscout.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

.panel:nth-child(2) {
  background-image: url(./Assets/profil-demakan.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.panel:nth-child(3) {
  background-image: url(./Assets/main-english.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1400px) {
  .nav {
    font-size: 14px;
  }

  .nav-item:nth-child(1) {
    bottom: 300px;
    left: 25px;
  }

  .nav-item:nth-child(2) {
    bottom: 210px;
    left: 45px;
  }

  .nav-item:nth-child(3) {
    bottom: 120px;
    left: 70px;
  }

  .nav-item:nth-child(4) {
    bottom: 30px;
    left: 80px;
  }
}

@media screen and (max-width: 500px) {
  .panel {
    height: 400px;
  }
}
